// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.66em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- PROJECT STYLING ----- */

$nav-footer-color: #d64660;
$corpus-block-color: white;
$vis-block-color: white;
$active-link-color: #1b3a6b;
$subnav-color: white;
$loader-color: rgba(0,0,0,.1);

.flexcontainer-horizontal {
  display: -webkit-flex;
  display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
}

.flexcontainer-vertical {
  display: -webkit-flex;
  display: flex;
	-webkit-flex-direction: column;
  flex-direction: column;
}

#appBlock {
	height: 100%;
	display: flex
}

nav {
	padding: 10px;
	display: block;
	background-color: $nav-footer-color;
	color: white;
	display: inline-flex;
	flex-grow: 1
}

.left {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.center {
	align-self: center
}

.right {
	margin-left: auto;
	padding: 15px 0
}

#corpusBlock {
	background-color: $corpus-block-color;
	padding: 20px;
	h3 {
		margin: 0 0 10px 0
	}
}

#visualizerBlock {
	background-color: $vis-block-color;
	padding: 20px;
	h3 {
		margin: 0 0 10px 0
	}
}

.loader {
	background-color: $loader-color;
	height: 100%;
	width: 100%;
}

.footer {
	background-color: $nav-footer-color;
	padding: 10px;
	position: relative;
	color: white;
	display: inline-flex;
	flex-grow: 1;
}

.subnav {
	color: $subnav-color
}

a {
	color: $subnav-color;
	:link {
		color: $subnav-color
	}
	:visited {
		color: $subnav-color
	}
	:hover {
		color: $active-link-color
	}
	:active {
		color: $subnav-color
	}
}
